.about {
  margin: 0 auto;
  padding: 0 25px;
  margin-bottom: 13px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.about__slogan {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: $black_1;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.about__description {
  margin: 0;
}
