.about {
  margin: 0 auto;
  margin-bottom: 27px;
  text-align: center;
}

.about__slogan {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: $black_1;
}

.about__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .about {
    margin-bottom: 52.5px;
  }

  .about__slogan {
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-bottom: 41px;
  }
}
