.advantages {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.advantages__list {
  counter-reset: order 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  background-color: $grey;

  @media (min-width: $tablet-width) {
    &:nth-child(n+3) {
      flex-grow: 1;
      flex-basis: 33%;
    }
  }
}

.advantages__item--pic {
  background-color: $white_blue;
}

.advantages__item--pic .advantages__title,
.advantages__description--pic {
  color: $white;
}

.advantages__description::before {
  display: block;
  counter-increment: order;
  content: "— №" counter(order) "—";
}

.advantages__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    min-height: 256px;
  }
}

.advantages__wrapper-pic {
  position: relative;
  margin-bottom: 260px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0;
  }
}

.advantages__wrapper-pic::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages__item--pic:first-child .advantages__wrapper-pic::after {
  background-image: url("../img/photo-city@1x 1.jpg");
}

.advantages__item--pic:nth-child(2) .advantages__wrapper-pic::after {
  background-image: url("../img/photo-bridge@1x 1.jpg");
}

@media (min-width: $tablet-width) {
  .advantages__item--pic:first-child .advantages__wrapper-pic::after {
    position: relative;
    grid-column: 2/-1;
    height: 256px;
  }

  .advantages__item--pic:nth-child(2) .advantages__wrapper-pic::after {
    grid-column: 1/3;
    grid-row: 1/4;
    position: relative;
    height: 256px;
  }
}

.advantages__description {
  line-height: 21px;
  margin: 0;
  padding-bottom: 24px;
}


@media (max-width: $mobile-width-only) {
  .advantages__description {
    border-bottom: 1px solid $grey_4;
  }

  .advantages__item:first-child .advantages__description,
  .advantages__item:nth-child(2) .advantages__description,
  .advantages__item:last-child .advantages__description {
    padding-bottom: 24px;
    border-bottom: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--pic:first-child .advantages__wrapper {
    padding: 40px 32px 44px 32px;
  }

  .advantages__item--pic:nth-child(2) .advantages__wrapper {
    padding: 43px 36px 41px 36px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--pic:first-child .advantages__wrapper {
    padding: 47px 52px 57px 53px;
  }

  .advantages__item--pic:nth-child(2) .advantages__wrapper {
    padding: 51px 78px 53px 79px;
  }
}
