.advantages {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.advantages__list {
  counter-reset: order 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  background-color: $grey;

  @media (min-width: $tablet-width) {
    &:nth-child(n+3) {
      flex-grow: 1;
      flex-basis: 33%;
    }
  }
}

.advantages__item--pic {
  background-color: $white_blue;
}

.advantages__item--pic .advantages__title,
.advantages__description--pic {
  color: $white;
}

.advantages__description::before {
  display: block;
  counter-increment: order;
  content: "— №" counter(order) "—";
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }
}

.advantages__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 55px;
    padding-right: 55px;
  }
}

.advantages__wrapper-pic {
  position: relative;
  margin-bottom: 260px;

  &--first {
    padding-top: 46px;
  }

  &--second {
    padding-top: 13px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin-bottom: 0;
  }
}

.advantages__wrapper-pic::after {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: $mobile-width-only) {
  .advantages__item--pic:first-child {
    background-image: url("../img/svg_images/main-triangle.svg");
    background-repeat: no-repeat;
  }
}

.advantages__item--pic:first-child .advantages__wrapper-pic::after {
  background-image: url("../img/background-images/photo-city@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-images/photo-city@2x.jpg");
  }



  @media (min-width: $tablet-width) {
    background-image: url("../img/background-images/photo-city-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-images/photo-city-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background-images/photo-city-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-images/photo-city-desktop@2x.jpg");
    }
  }
}

.advantages__item--pic:nth-child(2) .advantages__wrapper-pic::after {
  background-image: url("../img/background-images/photo-bridge@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-images/photo-bridge@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/background-images/photo-bridge-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-images/photo-bridge-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background-images/photo-bridge-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-images/photo-bridge-desktop@2x.jpg");
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--pic:first-child .advantages__wrapper-pic::after {
    position: relative;
    grid-column: 2/-1;
    min-height: 256px;
  }

  .advantages__item--pic:nth-child(2) .advantages__wrapper-pic::after {
    grid-column: 1/3;
    grid-row: 1/4;
    position: relative;
    min-height: 256px;
  }
}

.advantages__title {
  padding-bottom: 10px;
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.advantages__description {
  line-height: 21px;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 24px;
  }
}


@media (max-width: $mobile-width-only) {
  .advantages__description {
    border-bottom: 1px solid $grey_4;
  }

  .advantages__item:first-child .advantages__description {
    padding-bottom: 38px;
    border-bottom: none;
  }

  .advantages__item:nth-child(2) .advantages__description {
    padding-bottom: 34px;
    border-bottom: none;
  }

  .advantages__item:last-child .advantages__description {
    padding-bottom: 24px;
    border-bottom: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--pic:first-child .advantages__wrapper {
    padding: 40px 30px 20px 30px;
  }

  .advantages__item--pic:nth-child(2) .advantages__wrapper {
    padding: 43px 30px 18px 30px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--pic:first-child .advantages__wrapper {
    padding: 47px 65px 35px 65px;
  }

  .advantages__item--pic:nth-child(2) .advantages__wrapper {
    padding: 51px 85px 53px 85px;
  }
}
