.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $white;
  background-color: $white_blue;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
}
