.city-advantages {
  background-color: $white;
  padding: 35px 20px;
  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (min-width: $desktop-width) {
    padding-bottom: 80px;
  }
}

.city-advantages__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}


.city-advantages__item {
  position: relative;
  padding-left: 51px;
  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 96px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 33%;
    &:nth-child(2) {
      order: 2;
    }
  }
}

.city-advantages__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-width: $tablet-width) {
    width: 75px;
    height: 75px;
    top: 0;
    left: calc(50% - 38px);
  }
}

.city-advantages__item:first-child::before {
  background-image: url("../img/svg_icons/icon-house.svg.svg");
  // background-position: 10px; для смещения картинки пере
}

.city-advantages__item:nth-child(2)::before {
  background-image: url("../img/svg_icons/icon-gift.svg.svg");
  // background-position: 10px; для смещения картинки пере
}

.city-advantages__item:nth-child(3)::before {
  background-image: url("../img/svg_icons/icon-burger.svg.svg");
  // background-position: 10px; для смещения картинки пере
}

.city-advantages__title {
  color: $black_1;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.city-advantages__description {
  color: $black_2;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
