.field__label--name {
  // margin-bottom: 5px;
  margin-right: 13px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.field__label--contacts {
  margin-left: 22px;

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.field__input,
.field__input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black_1;
  font-family: "PT Sans", "Arial", sans-serif;
}

.field__input {
  width: 100%;
  background-color: $grey_2;
  border: none;
  padding: 18px 10px 14px 22px;
  height: 58px;

  &:hover {
    background-color: $grey_3;
  }

  &:focus {
    background: $white;
    border: 4px solid $grey_3;
  }
}

.field__input--phone,
.field__input--mail {
  margin: 4px 0;
}

.field__input--phone,
.field__input--phone:focus,
.field__input--mail,
.field__input--mail:focus {
  padding-right: 80px;
  background-repeat: no-repeat;
  background-position: right 20px center, 0 0;
}

.field__input--phone,
.field__input--phone:focus {
  background-image:
    url("../img/svg_icons/phone.svg.svg"),
    linear-gradient(to left, $grey_5 58px, transparent 58px);
}

.field__input--mail,
.field__input--mail:focus {
  background-image:
    url("../img/svg_icons/mail.svg.svg"),
    linear-gradient(to left, $grey_5 58px, transparent 58px);
}

// @media (min-width: $tablet-width) {}

// @media (min-width: $desktop-width) {}
