.form-feedback__input,
.form-feedback__input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black_1;
  text-transform: none;
  border: none;
  width: 100%;
  background-color: $grey_2;
  resize: none;
}

.form-feedback__input:hover,
.form-feedback__input:hover::placeholder {
  background-color: $grey_3;
}

.form-feedback__input:focus {
  background: $white;
  border: 4px solid $grey_3;
}

.form-feedback__input:focus::placeholder {
  background: $white;
}

.form-feedback__input {
  display: block;
  padding: 15px 21px;
  height: 160px;

  @media (min-width: $tablet-width) {
    padding: 18px 21px;
  }
}
