// .form-feedback {

// }

.form-feedback__input,
.form-feedback__input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black_1;
  text-transform: none;
  border: none;
  width: 100%;
  background-color: $grey_2;
  resize: none;
}
