// .gallery {

// }

// .gallery-photo {

// }

// .gallery-photo__list {

// }

.gallery-photo__item {
  figure {
    margin: 0;
  }
}

// .gallery-photo__image {

// }

.gallery-photo__description {
  font-weight: 700;
  line-height: 24px;
  color: $black_1;
}

.gallery-photo__sourse {
  line-height: 24px;
}

.gallery-photo__likes-score {
  font-weight: 700;
  line-height: 24px;
  color: $black_1;
}

// .gallery-video {

// }

// .gallery-video__title {

// }

// .gallery-video__text {

// }

// .gallery-video__list {

// }

// .gallery-video__item {

// }

// .gallery-video__image {

// }
