// .gallery {

// }

.gallery-photo {
  margin-bottom: 32px;
}

// .gallery-photo__list {

// }

.gallery-photo__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid $grey_3;
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    margin-bottom: 0;
  }
}

.gallery-photo__wrapper {
  @media (min-width: $tablet-width) {
    min-height: 80px;
    padding: 0 20px;
    background-color: $grey_2;
  }

  @media (min-width: $desktop-width) {
    margin-top: -80px;
    background-color: $black_1_opacity;
    position: relative;
    z-index: 2;
  }
}

.gallery-photo__image,
.gallery-video__image {
  width: 100%;
  display: block;
  background-color: $grey_3;
}

.gallery-photo__description {
  font-weight: 700;
  color: $black_1;
}

.gallery-photo__description,
.gallery-photo__sourse {
  line-height: 24px;
  margin: 0;
}

.gallery-photo__likes-score {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  color: $black_1;
  margin: 0;
  margin-top: 13px;
  padding-left: 41px;

  &::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 21px;
    left: 0;
    background-image: url("../img/svg_icons/like-icon.svg.svg");
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

// Делаем grid для gallery-photo__wrapper
@media (min-width: $tablet-width) {
  .gallery-photo__wrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }

  .gallery-photo__description {
    margin-top: auto;
  }

  .gallery-photo__sourse {
    margin-bottom: auto;
  }

  .gallery-photo__likes-score {
    grid-column: 2/-1;
    grid-row: 1/-1;
  }
}

// .gallery-video {}
.gallery-video__wrapper {
  padding: 0 20px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.gallery-video__title {
  text-align: center;
}

.gallery-video__text {
  text-align: center;
  line-height: 24px;
  margin: 0;
}

// .gallery-video__list {

// }

// .gallery-video__item {

// }

.gallery-video__image {
  display: block;
}

.gallery-video__player {
  margin-top: -45px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-top: -93px;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .gallery-photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery-photo__item:first-child {
    grid-column: 1/-1;
  }

  // .gallery-photo__item {

  // }
}

@media (min-width: $desktop-width) {
  .gallery-photo__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-photo__description,
  .gallery-photo__sourse,
  .gallery-photo__likes-score {
    color: $white;
  }

  .gallery-photo__likes-score::before {
    background-image: url("../img/svg_icons/like-icon-white-color.svg.svg");
  }
  // .gallery-photo__item {

  // }
}
