// .gallery {

// }

.gallery-photo {
  padding: 0 20px;
}

// .gallery-photo__list {

// }

.gallery-photo__item {
  figure {
    margin: 0;
  }
}

.gallery-photo__image,
.gallery-video__image {
  width: 100%;
}

.gallery-photo__description {
  font-weight: 700;
  line-height: 24px;
  color: $black_1;
}

.gallery-photo__sourse {
  line-height: 24px;
}

.gallery-photo__likes-score {
  font-weight: 700;
  line-height: 24px;
  color: $black_1;
}

// .gallery-video {

// }

// .gallery-video__title {

// }

// .gallery-video__text {

// }

// .gallery-video__list {

// }

// .gallery-video__item {

// }

// .gallery-video__image {

// }

@media (min-width: $tablet-width) {
  .gallery-photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery-photo__item:first-child {
    grid-column: 1/-1;
  }

  // .gallery-photo__item {

  // }
}

@media (min-width: $desktop-width) {
  .gallery-photo__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  // .gallery-photo__item {

  // }
}
