.hide--desktop {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.hide--phone {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 60px;
    text-align: end;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    margin-right: 120px;
  }
}
