.main-nav {
  background-color: $white_blue;
  position: relative;
}

// .main-nav::after {

// }

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 17px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.main-nav__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.main-nav__item a {
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

// .main-nav__item--current { }

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: $white;
  }

  .main-nav__list {
    background-color: $white;
    flex-direction: row;
  }

  .main-nav__item {
    width: 153px;
    min-height: 56px;
  }

  .main-nav__item:nth-child(4n+2) {
    margin-right: 156px;
  }

  .main-nav__item a {
    color: $black_1;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    width: 239px;
  }

  .main-nav__item:nth-child(4n+2) {
    margin-right: 244px;
  }
}
