.main-nav {
  // background-color: $white_blue;
  position: relative;
  margin-bottom: 56px;
  @media (min-width: $tablet-width) {
    background-color: $white;
    margin-bottom: 0;
  }
}

// .main-nav::after {

// }

.main-nav__toggle.main-nav--closed {
  display: block;
  position: absolute;
  right: 20px;
  top: 17px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle.main-nav--open {
  display: block;
  position: absolute;
  right: 20px;
  bottom: -40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $white;
  }
}

.main-nav__item {
  align-content: center;
  background-color: $white_blue;
  border-top: 1px solid $white-blue_2;
  border-bottom: 1px solid $white-blue_3;
  &:hover {
    background-color: $white-blue_4;
  }
  &:focus {
    background-color: $white-blue_5;
  }
  &:last-child {
    border-bottom: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    width: 153px;
    min-height: 56px;
    border: none;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
    &:nth-child(4n+2) {
      margin-right: 156px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    width: 239px;
    &:nth-child(4n+2) {
      margin-right: 244px;
    }
  }
}

.main-nav__item a {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: $white;
  padding: 10px 10px 5px 10px;
  &:focus {
    color: $white_active;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item a {
    color: $black_1;
  }

  .main-nav__item a:hover {
    color: $white_blue;
  }

  .main-nav__item--current a {
    color: $brown;
  }

  .main-nav__item--current a:hover {
    color: $brown_hover;
  }

  // добавить класс для :disabled?
  .main-nav__item a:disabled {
    color: $black_1_opacity;
  }

  .main-nav__item--current a:disabled {
    color: $brown_disabled;
  }
}

.main-nav__item:last-child a {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 88%, rgba(0, 0, 0, 0.2) 100%);
  @media (min-width: $tablet-width) {
    background: none;}
}
