.modal__failure,
.modal__success {
  width: 320px;
  background-color: $white;
  position: fixed;
  top: 50%;
  text-align: center;
  box-shadow: 0 6px 15px 0 $black_shadow;

  @media (min-width: $tablet-width) {
    min-height: 347px;
  }
}

@media (min-width: $tablet-width) {
  .modal__failure {
    width: 400px;
    left: calc(50% - 400px / 2);
  }

  .modal__success {
    width: 640px;
    left: calc(50% - 640px / 2);
  }
}

.modal__wrapper--failure {
  margin: 40px 42px 22px 42px;
  height: 125px;

  @media (min-width: $tablet-width) {
    margin: 51px 46px 0 46px;
    height: 194px;
  }
}

.modal__wrapper--success {
  margin: 30px 38px 15px 38px;
  height: 174px;

  @media (min-width: $tablet-width) {
    margin: 54px 98px 26px 98px;
    height: 126px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  color: $black_1;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.modal__title--failure {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    line-height: 40px;
  }
}

.modal__title--success {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.modal__description {
  margin: 0;
  line-height: 24px;
}

.modal__button {
  margin: 0 auto;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.modal__button--failure {
  width: 180px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 272px;
    margin-bottom: 49px;
  }
}

.modal__button--success {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.modal__button-wrapper--success {
  background-color: $grey_2;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 45px;
  }
}
