.page-header {
  position: relative;
  background-color: $white;
}

.page-header--index {
  margin-bottom: 32px;
}

.page-header--form {
  margin-bottom: 36px;
}

.page-header--gallery {
  margin-bottom: 24px;
}

.page-header__container {
  background-color: $grey_2;
  background-image:
  url("data:image/svg+xml,%3Csvg width='768' height='57' viewBox='0 0 768 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.6 23.7L-216 0V57H33.6H384L33.6 0V23.7Z' fill='white'/%3E%3Cpath d='M734.4 23.7V0L384 57H734.4H983.9V0L734.4 23.7Z' fill='white'/%3E%3C/svg%3E%0A"),
  url("../img/header_background/back-mobile.jpg.jpg");
  background-repeat: no-repeat;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: 1200px 57px, cover;
  @media (min-width: $tablet-width) {
    background-image:
    url("data:image/svg+xml,%3Csvg width='768' height='57' viewBox='0 0 768 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.6 23.7L-216 0V57H33.6H384L33.6 0V23.7Z' fill='white'/%3E%3Cpath d='M734.4 23.7V0L384 57H734.4H983.9V0L734.4 23.7Z' fill='white'/%3E%3C/svg%3E%0A"),
    url("../img/header_background/back-desktop.jpg.jpg");
  }
}

.page-header__logo {
  position: absolute;
  right: calc(50% - 51px);
  @media (min-width: $tablet-width) {
    top: 0;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../img/header_background/Vector.svg");
    background-size: 100% 100%;
    width: 187px;
    height: 97px;
    background-position: top;
    right: calc(50% - 94px);
  }
}

.page-header__welcome {
  display: block;
  width: 282px;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 85px;
  @media (min-width: $tablet-width) {
    width: 461px;
  }
}

@media (min-width: $tablet-width) {
  .page-header--index {
    margin-bottom: 44px;
  }

  .page-header--form {
    margin-bottom: 64px;
  }

  .page-header--gallery {
    margin-bottom: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--index {
    margin-bottom: 55px;
  }

  .page-header--form {
    margin-bottom: 114px;
  }

  .page-header--gallery {
    margin-bottom: 96px;
  }

}

// .page-header__img {

// }
