.page-footer {
  text-align: center;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    margin-right: 60px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 120px;
    margin-left: 120px;
  }
}

.page-footer__title {
  font-weight: 700;
  font-size: 21px;
  color: $black_1;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__social {
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__copyright {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer__text {
  color: $black_1;
  margin-right: 10px;
}

.page-footer__link {
  margin-top: 10px;
}

.page-footer__link:hover,
.page-footer__link:focus-within {
  fill: $white_blue;
}

.page-footer__link:active {
  fill: $black_1_opacity;
}
