.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-image: url("../img/back-mobile.jpg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 389px;
}

.page-header__logo {
  align-self: center;
}

// .page-header__img {

// }
