.page-footer {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: center;
  text-align: center;
  padding-bottom: 23px;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 36px;
  }
}

.page-footer__title {
  font-weight: 700;
  font-size: 21px;
  color: $black_1;
  margin: 0;
  margin-bottom: 33px;
}

.page-footer__social {
  margin: 0;
  margin-bottom: 40px;
}

.page-footer__copyright {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer__text {
  color: $black_1;
  margin-right: 10px;
}

// .page-footer__link {}

.page-footer__link:hover path {
  fill: $white_blue;
  // fill: red;
}

.page-footer__link:active path {
  fill: $black_1_opacity;
}
