.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-footer__title {
  font-weight: 700;
  font-size: 21px;
  color: $black_1;
}

.page-footer__social {

}

.page-footer__copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__text{
  color: $black_1;
}

.page-footer__link{

}
