.revocation-form__list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: $black_1;
  text-transform: none;
  border: none;
  width: 100%;
}

.revocation-form__item {
  border: none;
  margin: 0;
  position: relative;
  padding: 0 20px;
}

.revocation-form__title {
  text-align: center;
  padding: 0;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      background-color: $grey_3;
      height: 1px;
      width: 100%;
      top: -20px;
      left: 0;
    }
  }
}

// начало revocation-form на Grid на планшетах и десктопах
@media (min-width: $tablet-width) {
  .revocation-form__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .revocation-form__item {
    width: 100%;
  }

  .revocation-form__item--impressions {
    order: -1;
    grid-column: 1/2;
    position: relative;
    padding-left: 60px;
    margin-right: auto;

    @media (min-width: $desktop-width) {
      padding-left: 120px;
    }
  }

  .revocation-form__item--name {
    grid-column: 2/3;
    padding-right: 60px;
    margin-left: auto;

    @media (min-width: $desktop-width) {
      padding-right: 120px;
    }
  }

  .revocation-form__item--contacts,
  .revocation-form__item--attraction,
  .revocation-form__item--feedback {
    grid-column: 1/-1;
    padding: 0  60px;

    .revocation-form__title {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      column-gap: 48px;
      align-items: center;

      &::before,
      &::after {
        content: "";
        position: relative;
        min-width: 122px;
        height: 1px;
        background-color: $grey_7;
      }
    }

    @media (min-width: $desktop-width) {
      padding: 0 120px;
    }
  }

  .revocation-form__list--attraction {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      justify-items: end;
    }
  }

  .revocation-form__list-item--checkbox:nth-child(odd) {
    padding-left: 100px;

    @media (min-width: $desktop-width) {
      padding-left: 0;
    }
  }

  .revocation-form__list-item--checkbox:nth-child(even) {
    padding-left: 35px;

    @media (min-width: $desktop-width) {
      padding-left: 0;
    }
  }

  .revocation-form__item--impressions::after {
    content: "";
    right: 0;
    bottom: 0;
    height: 292px;
    width: 1px;
    background-color: $grey_7;
    display: block;
    position: absolute;
  }

  .revocation-form__item--name .revocation-form__title,
  .revocation-form__item--impressions .revocation-form__title {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .revocation-form__item--contacts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 52px;

    .revocation-form__field--contacts {
      flex-basis: 50%;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: max-content;
      align-items: center;
      column-gap: 17px;
    }

    .revocation-form__field--contacts:first-of-type {
      flex: 2;
      margin-right: 79px;
    }
  }
}
// конец revocation-form на grid на планшетах и десктопах

// внешние отступы для fieldset
.revocation-form__item--contacts {
  margin-bottom: 49px;

  .revocation-form__title {
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;

    .revocation-form__title {
      margin-bottom: 21px;
    }
  }

  @media (min-width: $desktop-width) {
    .revocation-form__title {
      margin-bottom: 21px;
    }
  }
}

.revocation-form__item--name,
.revocation-form__item--impressions {
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.revocation-form__item--name {
  .revocation-form__title {
    margin-bottom: 19px;
  }
}

.revocation-form__item--attraction {
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }
}

.revocation-form__item--impressions,
.revocation-form__item--attraction {
  .revocation-form__title {
    margin-bottom: 25px;
  }
}

.revocation-form__item--feedback {
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  .revocation-form__title {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 55px;
    }
  }
}

// внутренние отступы в fieldset-ах
.revocation-form__field--name {
  display: flex;
  align-items: center;

  .field__input {
    margin-bottom: 20px;
  }
}

.revocation-form__field--contacts {
  margin-bottom: 14px;
}

.revocation-form__field--contacts:last-child {
  margin-bottom: 0;
}

.revocation-form__button {
  margin: 0 auto;
  width: 280px;
  min-height: 58px;
  padding: 19px 32px 13px 32px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    margin-left: 120px;
  }
}

.revocation-form__list-item--radio {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.revocation-form__list-item--checkbox {
  margin-bottom: 34px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}
