// .social {

// }

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

// .social__item {

// }

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 48px;
  height: 48px;
  background-color: $white_blue;
  margin: 3px 3px;

  &:hover,
  &:focus-within {
    background-color: $white-blue_4;
  }

  &:active {
    background-color: $white-blue_5;
  }

  &:active svg {
    opacity: 0.3;
  }
}
