@media (min-width: $tablet-width) {
  .width--mobile {
    display: none;
  }
}

.width--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.width--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
