.width--all-devices {
  display: block;
}

.width--mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.width--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.width--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
